<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">
<listeners>
<listener class-name="Testcases.Listeners"></listener>
 <test thread-count="5" name="Regression">
  <parameter name="GoogleURL" value="google.com"></parameter>
   <parameter name="GoogleMapURL" value="google/map.com"></parameter>
  <groups>
  <run>
  <include name="FirstGroup"></include>
  </run>
  </groups>
    <classes>
      <class name="Testcases.BasicTestCases"/>
    </classes>
  </test> <!-- Test -->
   <test thread-count="5" name="Performance"> 
   <parameter name="GoogleURL" value="google.com"></parameter>
   <parameter name="GoogleMapURL" value="google/map.com"></parameter>
    <classes>
      <class name="Testcases.TestCases1">
     	 <methods>     	 
     	 	<exclude name="Third.*"></exclude> 
      	</methods>
      </class>
    </classes>
  </test> <!-- Test -->
  </listeners>
 
</suite> <!-- Suite -->
